.button {
	display: flex;
	align-items: center;
	// padding: 16px 32px;
	padding: 16px 0;
	border-radius: 36px;
	gap: 10px;
	line-height: 20.8px;
	font-size: 16px;
	font-weight: 600;
	color: var(--neutral-white);
	transition: ease 0.2s;
	width: 100%;
	text-align: center;
	justify-content: center;
	min-width: 154px;
	&:hover {
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	}
	&:active {
		transform: translateY(3px);
	}
}
.icon_wrapper {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.green {
	background-color: var(--green-pine);
}
.pink {
	background-color: var(--pink-pine);
}
.orange {
	background-color: var(--orange-pine);
}
.disabled {
	opacity: 0.7;
	pointer-events: none;
}
