@use '../../../styles/use/utils.scss';
.card {
	border-radius: 16px;
	overflow: hidden;
	&_icon {
		width: 24px;
		height: 24px;
		&_skeleton {
			display: inline-block;
			animation-duration: 2s;
			animation-fill-mode: forwards;
			animation-iteration-count: infinite;
			animation-name: placeHolderShimmer;
			animation-timing-function: linear;

			background: #f6f7f8;
			background-image: -webkit-gradient(
				linear,
				left center,
				right center,
				from(#f6f7f8),
				color-stop(0.2, #edeef1),
				color-stop(0.4, #f6f7f8),
				to(#f6f7f8)
			);
			background-image: -webkit-linear-gradient(
				left,
				#f6f7f8 0%,
				#edeef1 20%,
				#d1d1d1 40%,
				#f6f7f8 100%
			);
			border-radius: 6px;
			background-size: 980px 898px;
			position: relative;
		}
		@include utils.media-max-width(582) {
			width: 20px;
			height: 20px;
		}
	}
	&_image {
		position: relative;
		width: 100%;
		height: 217px;
		&_skeleton {
			animation-duration: 1.5s;
			animation-fill-mode: forwards;
			animation-iteration-count: infinite;
			animation-name: placeHolderShimmer;
			animation-timing-function: linear;

			background: #f6f7f8;
			background-image: -webkit-gradient(
				linear,
				left center,
				right center,
				from(#f6f7f8),
				color-stop(0.2, #edeef1),
				color-stop(0.4, #f6f7f8),
				to(#f6f7f8)
			);
			background-image: -webkit-linear-gradient(
				left,
				#f6f7f8 0%,
				#edeef1 20%,
				#f6f7f8 40%,
				#f6f7f8 100%
			);
			background-size: 980px 898px;
			position: relative;
		}
		@include utils.media-max-width(582) {
			height: unset;
			min-height: 181.25px;
		}
	}
	&_body {
		padding: 24px;
		padding-top: 22px;
		background-color: rgb(245, 245, 245);
		&_text {
			font-weight: 700;
			font-size: 18px;
			line-height: 23px;
			color: var(--neutral-black);
			height: 69px;
			-webkit-line-clamp: 3;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		&_type {
			margin-top: 10px;
		}
	}
}
.pink {
	color: var(--pink-pine);
	svg {
		path {
			fill: var(--pink-pine);
		}
	}
}
.green {
	color: var(--green-pine);
	svg {
		path {
			fill: var(--green-pine);
		}
	}
}
.orange {
	color: var(--orange-pine);
	svg {
		path {
			fill: var(--orange-pine);
		}
	}
}
.bottom_wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	line-height: 21.6px;
	font-size: 18px;
	font-weight: 700;
	justify-content: space-between;
	@include utils.media-max-width(582) {
		font-size: 16px;
		line-height: 19.2px;
	}
}
@keyframes placeHolderShimmer {
	0% {
		background-position: -490px 0;
	}
	100% {
		background-position: 490px 0;
	}
}

.skeleton_line {
	display: inline-block;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;

	background: #f6f7f8;
	background-image: -webkit-gradient(
		linear,
		left center,
		right center,
		from(#f6f7f8),
		color-stop(0.2, #edeef1),
		color-stop(0.4, #f6f7f8),
		to(#f6f7f8)
	);
	background-image: -webkit-linear-gradient(
		left,
		#f6f7f8 0%,
		#edeef1 20%,
		#d1d1d1 40%,
		#f6f7f8 100%
	);
	border-radius: 6px;
	background-size: 980px 898px;
	height: 19px;
	width: 216px;
	position: relative;
	&_date {
		display: inline-block;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: placeHolderShimmer;
		animation-timing-function: linear;

		background: #f6f7f8;
		background-image: -webkit-gradient(
			linear,
			left center,
			right center,
			from(#f6f7f8),
			color-stop(0.2, #edeef1),
			color-stop(0.4, #f6f7f8),
			to(#f6f7f8)
		);
		background-image: -webkit-linear-gradient(
			left,
			#f6f7f8 0%,
			#edeef1 20%,
			#d1d1d1 40%,
			#f6f7f8 100%
		);
		border-radius: 6px;
		background-size: 980px 898px;
		height: 19px;
		width: 148px;
		position: relative;
	}
}
