@use '../../../styles/use/utils.scss';
.card {
	border-radius: 16px;
	overflow: hidden;
	&_icon {
		width: 24px;
		height: 24px;
		@include utils.media-max-width(582) {
			width: 20px;
			height: 20px;
		}
	}
	&_image {
		position: relative;
		width: 100%;
		height: 217px;
		@include utils.media-max-width(582) {
			height: unset;
			min-height: 181.25px;
		}
	}
	&_body {
		padding: 24px;
		padding-top: 22px;
		background-color: rgb(245, 245, 245);
		&_text {
			font-weight: 700;
			font-size: 18px;
			line-height: 23px;
			color: var(--neutral-black);
			height: 69px;
			-webkit-line-clamp: 3;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		&_type {
			margin-top: 10px;
		}
	}
}
.pink {
	color: var(--pink-pine);
	svg {
		path {
			fill: var(--pink-pine);
		}
	}
}
.green {
	color: var(--green-pine);
	svg {
		path {
			fill: var(--green-pine);
		}
	}
}
.orange {
	color: var(--orange-pine);
	svg {
		path {
			fill: var(--orange-pine);
		}
	}
}
.bottom_wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	line-height: 21.6px;
	font-size: 18px;
	font-weight: 700;
	justify-content: space-between;
	@include utils.media-max-width(582) {
		font-size: 16px;
		line-height: 19.2px;
	}
}
